<% if @event_filtering
	filtering_type = @event_filtering.filtering_type
	tracked_type	 = @event_filtering.tracked_type
else
	filtering_type = "limit"
	tracked_type 	 = "by_src"
end %>

<%= snorby_box("Limit Event", false) do %>
	<div id='snorbybox-content' class=''>	
		<%= form_tag '/events/create_filter_event', :method => :post, :id => 'limit-event-form', :class => 'basic-form validate', :remote => true do %>
				<div id="snorbybox-form-holder">
					<div id='snorbybox-form-full'>
						<%= label_tag "signature", "Signature: <strong>#{@rule.msg}</strong>".html_safe %><br />
						<%= hidden_field_tag '[e_filter][sid]', @sensor.sid %>
						<%= hidden_field_tag '[e_filter][sig_sid]', @rule.rule_id.to_i %>
						<%= hidden_field_tag '[e_filter][sig_gid]', @rule.gid.to_i %>
					</div>

					
					<div id="filter-event-menu" class="highlight-box">
						<span title="Alerts on the 1st m events during the time interval, then ignores events for the rest of the time interval." class="add_tipsy">
							<%= radio_button_tag "[e_filter][filtering_type]", "limit", filtering_type == "limit", {:class => "filtering_type"} %>
							<%= label_tag "limit", "Limit".html_safe %>
						</span>
						<span title="Alerts every m times we see this event during the time interval." class="add_tipsy">
							<%= radio_button_tag "[e_filter][filtering_type]", "threshold", filtering_type == "threshold", {:class => "filtering_type"} %> 
							<%= label_tag "threshold", "Threshold".html_safe %>
						</span>
						<span title="Alerts once per time interval after seeing m occurrences of the event, then ignores any additional events during the time interval." class="add_tipsy">
							<%= radio_button_tag "[e_filter][filtering_type]", "both", filtering_type == "both", {:class => "filtering_type"} %>
							<%= label_tag "both", "Both".html_safe %>
						</span>
						<br />
					</div>						
					
					<br />
					<div class="grid_6" style='width:175px;'>
						<br />
				    	<%= radio_button_tag "[e_filter][tracked_type]", "by_src", true %> <%= label_tag "by_src", "By Source".html_safe %><br />
						<%= radio_button_tag "[e_filter][tracked_type]", "by_dst" %> <%= label_tag "by_dst", "By Destination".html_safe %><br />
					</div>
					<div class="grid_5">							
							<%= label_tag "count", "Count" %><br />
							<%= text_field_tag "[e_filter][count]", @event_filtering.nil? ? 1 : @event_filtering.count, :class => 'required' %>							
					</div>
					<div class="grid_5">							
							<%= label_tag "seconds", "Seconds" %><br />
							<%= text_field_tag "[e_filter][seconds]", @event_filtering.nil? ? 60 : @event_filtering.seconds, :class => 'required' %>							
					</div>
					
				</div>
								
				<%= snorby_box_footer do %>
					<%= form_actions do %>
	    			<%= submit_tag "Accept", :class => 'success' %>
	    			<%= button "Cancel", :class => 'warning cancel-snorbybox' %>
	  			<% end %>
	  		<% end %>

	<% end %>		
	    
	</div>

<% end %>

<script type="text/javascript">
	function reload_filtering_type(ob){
		if (ob.val() == "suppress") {
  		$('p.event_limit_ip').show();
	    $('input#_e_filter_tracked_ip').addClass('required');
  	} else {
  		$('p.event_limit_ip').hide();
	    $('input#_e_filter_tracked_ip').removeClass('required');
  	}
	};

  $(document).ready(function()  {
  	reload_filtering_type($("input:radio:checked.filtering_type"));
  	$('#limit-event-form.validate').validate();
  	$(".filtering_type").change(function() {
  		reload_filtering_type($(this));
  	});
  });
</script>
