<%= javascript_include_tag "infobox.min" %>
<div id='<%= prepend_id %>MAP-graph' class="dashboard-graph" style='<%= active ? "" : 'display:none;' %>' data_column="MAP">
		<%= gmaps({ :map_options => {  	:id => "#{prepend_id}map", 
										:auto_adjust => true,
										:raw => "{streetViewControl: false, panControl: false, 
							         zoomControlOptions: {style: google.maps.ZoomControlStyle.SMALL }}"}, 
					:markers => 	{ 	:options => {"custom_infowindow_class" => "maps-boxText", 
										:do_clustering => true}, :data => @map_data.to_json.html_safe
									}
				}) %>
</div>     

<script type="text/javascript">
	$(document).ready(function() {
		var widget = ($('div#widgets').length > 0);
		if (widget == false) {
		  Gmaps.map  = new Gmaps4RailsGoogle();	  
		  Gmaps.load_map = function() {
		    Gmaps.map.map_options.id = "map"
		    Gmaps.map.map_options.auto_adjust = true;
		    Gmaps.map.map_options.raw = {streetViewControl: false, panControl: false, zoomControlOptions: {style: google.maps.ZoomControlStyle.SMALL }};
		    Gmaps.map.initialize();
		    Gmaps.map.markers = <%= @map_data.to_json.html_safe %>;
		    Gmaps.map.markers_conf.do_clustering = true;
		    Gmaps.map.markers_conf.custom_infowindow_class = "maps-boxText";
		    Gmaps.map.infobox = function(boxText) {
		      return {
		        content: boxText,
		        disableAutoPan: false,
		        maxWidth: 0,
		        pixelOffset: new google.maps.Size(-140, 0),
		        zIndex: null,
		        boxStyle: { 
		          opacity: 0.85,
		          width: "220px"
		        },
		        closeBoxMargin: "10px 2px 2px 2px",
		        closeBoxPATH: 'icons/close.gif',
		        infoBoxClearance: new google.maps.Size(1, 1),
		        isHidden: false,
		        pane: "floatPane",
		        enableEventPropagation: false
		      }
		    };
		    Gmaps.map.create_markers();
		    Gmaps.map.adjustMapToBounds();    
		    Gmaps.map.callback();;
		  };
		  Gmaps.load_map();
		};		
	});
</script>