<%- unless hd_info.nil? %>
  <tr>
    <td><%=hd_info[:mount]%></td>
    <td><%=device%></td>
    <td><%=hd_info[:fs_type]%></td>
    <td><%=(hd_info[:kb_size].to_f/1024/1024).to_f.round(2)%> GB</td>
    <td><%=(hd_info[:kb_used].to_f/hd_info[:kb_size].to_f*100).round(0)%>%</td>
  </tr>
<%- end %>